<div class="container py-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4">User Settings</h1>

            {{#if message}}
            <div class="alert alert-info" role="alert">
                {{message}}
            </div>
            {{/if}}


        <!-- 
            place three separate forms here,
            each pointing to the correct POST endpoint:
            1. /profile/settings/username
            2. /profile/settings/password
            3. /profile/settings/picture
        -->

        </div>


    </div>
</div>